VVB001/flows_reader.json
[
    {
        "id": "46136ff104f536b8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b32b0187215f1cd",
        "type": "debug",
        "z": "46136ff104f536b8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "50fca0fccfd17347",
        "type": "iolink-VVB001-get-data",
        "z": "46136ff104f536b8",
        "name": "VVB001 data",
        "ip": "localhost",
        "ipType": "str",
        "port": "80",
        "topic": "",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "4b32b0187215f1cd"
            ]
        ]
    },
    {
        "id": "d4f4052da8707544",
        "type": "inject",
        "z": "46136ff104f536b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "50fca0fccfd17347"
            ]
        ]
    }
]