TP3237/TP3237_Reader.json
[
    {
        "id": "2e0418cda4baf1e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9b5aea8ceb50365",
        "type": "debug",
        "z": "2e0418cda4baf1e8",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "d24fc8e50fdf3e4b",
        "type": "http request",
        "z": "2e0418cda4baf1e8",
        "name": "Request.DATA",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/temperature",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 780,
        "y": 380,
        "wires": [
            [
                "a9b5aea8ceb50365"
            ]
        ]
    },
    {
        "id": "3f0dad7effca172a",
        "type": "inject",
        "z": "2e0418cda4baf1e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "d24fc8e50fdf3e4b"
            ]
        ]
    }
]